{erl_opts, [{i, "src"},
            warnings_as_errors,
            {w, all},
            warn_export_all]}.

{clean_files, [".eunit",
               "ebin/*.beam"]}.

{pre_hooks, [ {compile, "make -C c_src"} ]}.
{post_hooks, [ {clean, "make -C c_src clean"} ]}.
{artifacts, [ "priv/sha3_nif.so" ]}.

{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.
